/* Mengatur gaya umum untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f18fbc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Gaya untuk form */
  form {
    background-color: #ffaeef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(101, 63, 110);
    max-width: 400px;
    width: 100%;
  }
  
  /* Gaya untuk setiap div dalam form */
  form div {
    margin-bottom: 15px;
  }
  
  /* Gaya untuk label */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Gaya untuk input teks, tanggal, radio, checkbox, dan select */
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ec9d9d;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  /* Gaya untuk input radio dan checkbox */
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }
  
  /* Gaya untuk tombol submit */
  button {
    background-color: #000000;
    color: rgb(240, 171, 171);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  button:hover {
    background-color: #53294c;
  }
  
  /* Gaya untuk heading (jika ada) */
  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  